In [ ]:
#Import the required packages
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
#Read the csv file of data
df = pd.read_csv('Turkish TV Series.csv')

df.head()

In [ ]:
df.shape

In [ ]:
df.info()

In [ ]:
df.isnull().sum()

# Data Preprocessing

## Add New Column (Year)

In [ ]:
#Extracting the year from first_air_date column
df['year'] = pd.DatetimeIndex(df['first_air_date']).year

In [ ]:
#Show the dataframe with the year column
df.head()

In [ ]:
#Show the values of year column
df['year'].value_counts().sort_index()
#I did this step to ensure that the values of the year column are logically correct!

## Rearrange the dataset based on year column

In [ ]:
# Sort Dataframe rows based on "year' 
# The data will be sorted in descending order
df = df.sort_values(by = 'year', ascending = False)

In [ ]:
#Cheak the order of the dataset by show the first 20 rows
df.head(20)

In [ ]:
#Cheak the order of the dataset by show the last 20 rows
df.tail(20)

# Data Cleaning

In [ ]:
# Look at total NaN values per column graphically
df.isnull().sum().sort_values().plot(kind="barh", title="Missing Values (Shape: (443, 17))")

In [ ]:
#Display all rows of the dataframe
pd.set_option("max_rows", None)

## Fill Missing Values by Forward Technique

### Fill production companies column

In [ ]:
#Removes spaces at the beginning and end of the string values# data will be sorted in descending order
df["production_companies"] = df["production_companies"].str.strip()

In [ ]:
#Converts all characters to lowercase
df['production_companies'] = df['production_companies'].str.lower()

In [ ]:
#Counts the unique values and present them in descending order
df["production_companies"].value_counts().sort_index()

In [ ]:
#Edit some values that contain spelling mistakes to keep data consistent 
df.loc[df['production_companies'] =="arc film", 'production_companies']="arc films"
df.loc[df['production_companies'] =="bkm film", 'production_companies']="bkm"
df.loc[df['production_companies'] =="blutv", 'production_companies']="blu tv"
df.loc[df['production_companies'] =="endemol shine turkey", 'production_companies']="endemol shine türkiye"
df.loc[df['production_companies'] =="medyapım", 'production_companies']="med yapım"
df.loc[df['production_companies'] =="mi̇a yapım", 'production_companies']="mia yapım"
df.loc[df['production_companies'] =="ntc", 'production_companies']="ntc medya"
df.loc[df['production_companies'] =="plato film production", 'production_companies']="plato film"
df.loc[df['production_companies'] =="tükenmezkalem", 'production_companies']="tükenmezkalem film"

In [ ]:
# Plot a histogram with bins=20 to see distribution of data before filling the missing values
plt.figure(figsize=(40,8))
df["production_companies"].value_counts().plot(kind='bar',title="Bar of production companies Column with NaN Values")

In [ ]:
# Forward fill using fillna() method="ffill"
df["production_companies"]=df["production_companies"].fillna(method="ffill")

In [ ]:
#Check all missing values have been filled
df["production_companies"].isnull().sum()

In [ ]:
# Plot a histogram with bins=20 to see distribution of data after filling the missing data
plt.figure(figsize=(40,8))
df["production_companies"].value_counts().plot(kind='bar',title="Bar of production companies Column without NaN Values")

## Fill Missing Values by Backward Technique

### Fill musician column

In [ ]:
#Removes spaces at the beginning and end of the string values
df["musician"] = df.musician.str.strip()

In [ ]:
#Removes the comma from the end of the string values
df['musician'] = df['musician'].str.replace(r',$', '')

In [ ]:
#Converts all characters to lowercase
df['musician'] = df['musician'].str.lower()

In [ ]:
#Removes spaces at the beginning and end of the string values after removing the comma
df["musician"] = df.musician.str.strip()

In [ ]:
#Counts the unique values and present them in descending order
df["musician"].value_counts().sort_index()

In [ ]:
#Edit some values that contain spelling mistakes to keep data consistent 
df.loc[df['musician'] =="ali oytam", 'musician']="ali otyam"
df.loc[(df['musician'] =="jingle tv") | (df['musician'] =="jingletv") | (df['musician'] =="jıngle tv"), 'musician']= "jingleTV"
df.loc[(df['musician'] =="alpay göktekin ,zeynep alasya") | (df['musician'] =="alpay goltekin ,zeynep alasya") , 'musician']= "alpay göltekin ,zeynep alasya"
df.loc[(df['musician'] =="aydın sarman,burcu güven") | (df['musician'] =="aydın sarman, burcu güven"), 'musician']= "aydın sarman ,burcu güven"
df.loc[(df['musician'] =="aytug yargiç") , 'musician']= "aytuğ yargıç"
df.loc[df['musician'] =="cenk durmazel, cenk sarkuş", 'musician']="cenk durmazel ,cenk sarkuş"
df.loc[df['musician'] =="enc", 'musician']= np.NaN
df.loc[df['musician'] =="fahir atakoglu", 'musician']="fahir atakoğlu"
df.loc[df['musician'] =="firat yukselir", 'musician']="fırat yükselir"
df.loc[df['musician'] =="gökhan kirdar", 'musician']="gökhan kırdar"
df.loc[df['musician'] =="günay uysal", 'musician']="günay ünsal"
df.loc[df['musician'] =="kiraç", 'musician']="kıraç"
df.loc[(df['musician'] =="mehmet andiçen,baris aryay") | (df['musician'] =="mehmet andiçen, baris aryay"), 'musician']= "mehmet andiçen ,barış aryay"
df.loc[df['musician'] =="tamer ciray", 'musician']="tamer çıray"
df.loc[df['musician'] =="yildiray gürgen", 'musician']="yıldıray gürgen"

In [ ]:
#Counts the unique values and present them in descending order
df["musician"].value_counts().sort_index()

In [ ]:
# Plot a histogram with bins=20 to see distribution of data before filling the missing data
plt.figure(figsize=(40,8))
df["musician"].value_counts().plot(kind='bar',title="Bar of musician Column with NaN Values")

In [ ]:
# Backward fill using fillna() method="bfill"
df["musician"]=df["musician"].fillna(method="bfill")

In [ ]:
#Check all missing values have been filled
df["musician"].isnull().sum()

In [ ]:
# Plot a histogram with bins=20 to see distribution of data after filling the missing values
plt.figure(figsize=(40,8))
df["musician"].value_counts().plot(kind='bar',title="Bar of musician Column without NaN Values")

## Fill Missing Values by New Value

### Fill genre2 column

In [ ]:
#Counts the unique values and present them in descending order
df["genre2"].value_counts().sort_index()

In [ ]:
#Edit some values that contain spelling mistakes to keep data consistent 
df.loc[(df['genre2'] =="Famiy") |(df['genre2'] =="Familly") , 'genre2']="Family"

In [ ]:
#Counts the unique values and present them in descending order
df["genre2"].value_counts().sort_index()

In [ ]:
# Plot a histogram with bins=20 to see distribution of data before filling the missing values
plt.figure(figsize=(20,8))
df["genre2"].value_counts().plot(kind='bar',title="Bar of genre2 Column with NaN Values")

In [ ]:
# Replace NaN values with new value
df["genre2"] = df["genre2"].replace(np.NaN, "No second genre")

In [ ]:
# Plot a histogram with bins=20 to see distribution of data after filling the missing 
plt.figure(figsize=(20,8))
df["genre2"].value_counts().plot(kind='bar',title="Bar of genre2 Column without NaN Values")

### Fill createdBy column

In [ ]:
#Removes spaces at the beginning and end of the string values
df["createdBy"] = df.createdBy.str.strip()

In [ ]:
#Removes the comma from the end of the string values
df['createdBy'] = df['createdBy'].str.replace(r',$', '')

In [ ]:
#Converts all characters to lowercase
df['createdBy'] = df['createdBy'].str.lower()

In [ ]:
#Removes spaces at the beginning and end of the string values after removing the comma
df["createdBy"] = df.createdBy.str.strip()

In [ ]:
#Counts the unique values and present them in descending order
df["createdBy"].value_counts().sort_index()

In [ ]:
#Edit some values that contain spelling mistakes to keep data consistent 
df.loc[df['createdBy']=='osman sinav','createdBy']='osman sınav'
df.loc[df['createdBy']=='osman yagmurdereli','createdBy']='osman yağmurdereli'
df.loc[(df['createdBy']=='türker inanoglu')|(df['createdBy']=='türler i̇nanoğlu'),'createdBy']='türker i̇nanoğlu'
df.loc[df['createdBy']=='yaşar i̇lvur','createdBy']='yaşar i̇rvül'

In [ ]:
#Plot a histogram with bins=20 to see distribution of data before filling the missing values
plt.figure(figsize=(40,8))
df["createdBy"].value_counts().plot(kind='bar',title="Bar of createdBy Column with NaN Values")

In [ ]:
#Replace NaN values with new value
df["createdBy"] = df["createdBy"].replace(np.NaN, "Unknown")

In [ ]:
#Plot a histogram with bins=20 to see distribution of data after filling the missing values
plt.figure(figsize=(40,8))
df["createdBy"].value_counts().plot(kind='bar',title="Bar of createdBy Column without NaN Values")

## Fill Missing Values by Original Values

### Fill director column

In [ ]:
#Counts the unique values and present them in descending order
df["director"].value_counts().sort_index()

In [ ]:
#Removes spaces at the beginning and end of the string values
df["director"] = df.director.str.strip()

In [ ]:
#Removes comma from the end of the string values
df['director'] = df['director'].str.replace(r',$', '')

In [ ]:
#Converts all characters to lowercase
df['director'] = df['director'].str.lower()

In [ ]:
#Removes spaces at the beginning and end of the string values after removing the comma
df["director"] = df.director.str.strip()

In [ ]:
#Counts the unique values and present them in descending order
df["director"].value_counts().sort_index()

In [ ]:
#Edit some values that contain spelling mistakes to keep data consistent 
df.loc[df['director'] =="aydin bulut", 'director']="aydın bulut"
df.loc[df['director'] =="bahadar i̇nce", 'director']="bahadır i̇nce"
df.loc[df['director'] =="baris erçetin", 'director']="barış erçetin"
df.loc[df['director'] =="gökçen usta çaylar", 'director']="gökçen usta"
df.loc[df['director'] =="jale atabey özberk", 'director']="jale atabey"
df.loc[df['director'] =="kemal uzuni", 'director']="kemal uzun"
df.loc[df['director'] =="merve girgin aytekin", 'director']="merve girgin"
df.loc[(df['director'] =="mesude erarslan tekin") | (df['director'] =="mesude eraslan"), 'director']="mesude erarslan"
df.loc[df['director'] =="murat can oguz", 'director']="murat can oğuz"
df.loc[df['director'] =="osman sinav", 'director']="osman sınav"
df.loc[df['director'] =="sadullah celrn", 'director']="sadullah celen"
df.loc[(df['director'] =="türkân derya güven")|(df['director'] =="türkan derya güven"), 'director']="türkan derya"
df.loc[df['director'] =="ulaş i̇nan i̇nanç", 'director']="ulaş i̇naç"
df.loc[df['director'] =="yasin ünlü", 'director']="yasin uslu"

In [ ]:
# Plot a bar chart with bins=20 to see distribution of data before filling the missing values
plt.figure(figsize=(40,8))
df["director"].value_counts().plot(kind='bar',title="Bar of director Column with NaN Values")

In [ ]:
df.loc[df['director'].isnull(), ]

In [ ]:
#These have more than one director
#1. The Protector
df.loc[df['original_name'] =="The Protector", 'director']="can evrenol"
#2. Meleklerin Aşkı
df.loc[df['original_name'] =="Meleklerin Aşkı", 'director']="ersoy güler"
#3. Masum Değiliz	
df.loc[df['original_name'] =="Masum Değiliz", 'director']="levent turkan"
#4. Kanatsız Kuşlar	
df.loc[df['original_name'] =="Kanatsız Kuşlar", 'director']="adnan güler"
#5. İsimsizler	
df.loc[df['original_name'] =="İsimsizler", 'director']="volkan kocatürk"
#6. Ömre Bedel	
df.loc[df['original_name'] =="Ömre Bedel", 'director']="nihat durak"
#7. Kurtlar Vadisi: Pusu
df.loc[df['original_name'] =="Kurtlar Vadisi: Pusu", 'director']="onur tan"
#8. Küçük Ağa	
df.loc[df['original_name'] =="Küçük Ağa", 'director']="erol özlevi"
#9. Yanık Koza	
df.loc[df['original_name'] =="Yanık Koza", 'director']="mesude erarslan"
#These just have one director
#10. İki Arada Aşk
df.loc[df['original_name'] =="İki Arada Aşk", 'director']="sibel kocataş"
#11. Gülbeyaz	
df.loc[df['original_name'] =="Gülbeyaz", 'director']="özer kiziltan"

In [ ]:
#Check all missing values have been filled
df["director"].isnull().sum()

In [ ]:
# Plot a bar chart with bins=20 to see distribution of data after filling the missing values
plt.figure(figsize=(40,8))
df["director"].value_counts().plot(kind='bar',title="Bar of director Column without NaN Values")

### Fill writer column

In [ ]:
#Removes spaces at the beginning and end of the string values
df["writer"] = df.writer.str.strip()

In [ ]:
#Removes comma from the end of the string values
df['writer'] = df['writer'].str.replace(r',$', '')

In [ ]:
#Converts all characters to lowercase
df['writer'] = df['writer'].str.lower()

In [ ]:
#Removes spaces at the beginning and end of the string values after removing the comma
df["writer"] = df.writer.str.strip()

In [ ]:
#Counts the unique values and present them in descending order
df["writer"].value_counts().sort_index()

In [ ]:
#Edit some values that contain spelling mistakes to keep data consistent 
df.loc[df['writer']=='başak yaz odası','writer']='başak yazı odası'
df.loc[(df['writer']=='ece yörenç,melek gençoğlu')|(df['writer']=='ece yörenç, melek gençoğlu'),'writer']='ece yörenç ,melek gençoglu'
df.loc[df['writer']=='elif usman ergüden','writer']='elif usman'
df.loc[(df['writer']=='kemal kenan ergen, kamuran süner')|(df['writer']=='kemal kenan ergen,kamuran süner'),'writer']='kemal kenan ergen ,kamuran süner'
df.loc[(df['writer']=='meral okay, yılmaz şahin')|(df['writer']=='meral okay , yılmaz şahin'),'writer']='meral okay ,yılmaz şahin'
df.loc[(df['writer']=='sema ergenekon,eylem canpolat')|(df['writer']=='sema ergenekon, eylem canpolat'),'writer']='sema ergenekon ,eylem canpolat'
df.loc[df['writer']=='rüya i̇şçiler','writer']='rüya i̇şçileri'
df.loc[df['writer']=='nilgün önes','writer']='nilgün öneş'
df.loc[df['writer']=='zülkuf yücel','writer']='zülküf yücel'
df.loc[df['writer']=='tayfun güneyen','writer']='tayfun güneyer'

In [ ]:
#Return the series with unknown writers
df.loc[df['writer'].isnull(),:]

In [ ]:
#Fill the writer names by "original name" of the show 

#1. Kurtlar Vadisi: Pusu
df.loc[df['original_name']=='Kurtlar Vadisi: Pusu','writer']= 'Raci Şaşmaz ,Bahadır Özdener ,Cüneyt Aysan ,Pana Yazım Grubu ,Murat Koca ,Cahit Kayaoğlu ,Selma Hacıosmanoğlu ,Ayşegül Hacıosmanoğlu'
#2. Ahh İstanbul
df.loc[df['original_name']=='Ahh İstanbul','writer']= 'mahinur ergun'
#3. Ezo Gelin
df.loc[df['original_name']=='Ezo Gelin','writer']= 'Memed Onur Özkök , Onur Tan ,Mahinur Ergun ,Ahmet Yurdakul ,Arda Uskan'
#4. Çifte Bela
df.loc[df['original_name']=='Çifte Bela','writer']= 'Kasim Uçkan'
#5. Cesaretin Var Mı Aşka
df.loc[df['original_name']=='Cesaretin Var Mı Aşka','writer']= 'Yann Samuell'
#6. Sıfır Bir
df.loc[df['original_name']=='Sıfır Bir','writer']= 'unknown'
#7. Aşk Ekmek Hayaller
df.loc[df['original_name']=='Aşk Ekmek Hayaller','writer']= 'unknown'

#print(df.iloc[239,:],",",df.iloc[242,:],",",df.iloc[245,:],",",df.iloc[266,:],",",df.iloc[391,:],",",df.iloc[134,:],",",df.iloc[309,:])

In [ ]:
#Check all missing values have been filled
df['writer'] = df['writer'].str.lower()

### Fill networks column

In [ ]:
df.loc[df['networks'].isnull(),:]

In [ ]:
#Removes spaces at the beginning and end of the string values
df["networks"] = df.networks.str.strip()

In [ ]:
#Counts the unique values 
df['networks'].value_counts()

In [ ]:
#Edit some values that contain spelling mistakes to keep data consistent 
df.loc[df['networks']=='kanal D','networks']='Kanal D'
df.loc[df['networks']=='Show Tv','networks']='Show TV'
df.loc[df['networks']=='Tv8','networks']='TV8'
df.loc[df['networks']=='ATV','networks']='atv'

In [ ]:
#Fill the missing networks by thier original values

#Benim Için Üzülme
df.loc[df['original_name']=='Benim Için Üzülme','networks'] = 'Show TV'
#Gecenin Kraliçesi
df.loc[df['original_name']=='Gecenin Kraliçesi','networks'] = 'Star TV'
#Gece Yürüyüşü
df.loc[df['original_name']=='Gece Yürüyüşü','networks'] = 'Unknown'
#Hırsız
df.loc[df['original_name']=='Hırsız','networks'] = 'atv'
#Deli Saraylı
df.loc[df['original_name']=='Deli Saraylı','networks'] = 'Show TV'

In [ ]:
df.loc[df['networks'].isnull(),:]

### Fill secondStar column

In [ ]:
df.loc[df['secondStar'].isnull(),]

In [ ]:
#Acayip Hikayeler
df.loc[df['original_name']=='Acayip Hikayeler','secondStar']='Levent Güner'

In [ ]:
df.loc[df['secondStar'].isnull(),]

### Fill thirdStar column

In [ ]:
df.loc[df['thirdStar'].isnull(),]

In [ ]:
#Acayip Hikayeler
df.loc[df['original_name']=='Acayip Hikayeler','thirdStar']='Zeynep Tuncay'
#1 Kadın 1 Erkek
df.loc[df['original_name']=='1 Kadın 1 Erkek','thirdStar']='Hande Subasi'
#Keşanlı Ali Destanı
df.loc[df['original_name']=='Keşanlı Ali Destanı','thirdStar']='Turgut Tuncalp'
#Pars: Narkoterör
df.loc[df['original_name']=='Pars: Narkoterör','thirdStar']='Murat Ergun'
#1 Erkek 1 Kadın 2 Çocuk 
df.loc[df['original_name']=='1 Erkek 1 Kadın 2 Çocuk','thirdStar']='No thirdStar'

In [ ]:
df.loc[df['thirdStar'].isnull(),]

## Fill Missing Values by Mode

### Fill air_time column

In [ ]:
# Plot a bar chart with bins=20 to see distribution of data before filling the missing values
plt.figure(figsize=(20,8))
df["air_time"].value_counts().plot(kind='bar',title="Bar of air_time Column with NaN Values")

In [ ]:
# Calculate mode
airtime_col_mode = df["air_time"].mode()[0]
airtime_col_mode

In [ ]:
# Replace NaN values with mode
df["air_time"] = df["air_time"].replace(np.NaN, airtime_col_mode)

In [ ]:
# Plot a bar chart with bins=20 to see distribution of data after filling the missing values
plt.figure(figsize=(20,8))
df["air_time"].value_counts().plot(kind='bar',title="Bar of air_time Column without NaN Values")

## Fill Missing Values by Mean

### Fill episode_run_time column

In [ ]:
# Plot a histogram with bins=20 to see distribution of data before filling the missing values
df["episode_run_time"].plot(kind="hist", bins=20, title="Histogram of episode_run_time column with NaN Values")

In [ ]:
# Calculate mean
episode_run_time_col_mean = round(df["episode_run_time"].mean())
episode_run_time_col_mean

In [ ]:
# Replace NaN values with the mean
df["episode_run_time"] = df["episode_run_time"].fillna(episode_run_time_col_mean)
df["episode_run_time"].isnull().sum()

In [ ]:
# Plot a histogram with bins=20 to see distribution of data after filling the missing values
df["episode_run_time"].plot(kind="hist", bins=20, title="Histogram of episode_run_time column without NaN Values")

### Fill adaptation column

In [ ]:
# Plot a histogram with bins=20 to see distribution of data before filling the missing values
df["adaptation"].plot(kind="hist", bins=20, title="Histogram of adaptation column with NaN Values")

In [ ]:
# Calculate mean
adaptation_col_mean = round(df["adaptation"].mean())
adaptation_col_mean

In [ ]:
# Replace NaN values with the mean
df["adaptation"] = df["adaptation"].fillna(adaptation_col_mean)
df["adaptation"].isnull().sum()

In [ ]:
# Plot a histogram with bins=20 to see distribution of data after filling the missing values
df["adaptation"].plot(kind="hist", bins=20, title="Histogram of adaptation column without NaN Values")

## Edit Values of Columns

### Edit genre1 values

In [ ]:
#Removes spaces at the beginning and end of the string values
df["genre1"] = df.genre1.str.strip()

In [ ]:
#Counts the unique values and present them in descending order
df['genre1'].value_counts().sort_index()

### Edit firstStar values

In [ ]:
#Removes spaces at the beginning and end of the string values
df["firstStar"] = df.firstStar.str.strip()

In [ ]:
#Counts the unique values and present them in descending order
df['firstStar'].value_counts().sort_index()

In [ ]:
#Edit some values that contain spelling mistakes to keep data consistent 
df.loc[df['firstStar']=='Fikret Kuskan','firstStar']='Fikret Kuşkan'
df.loc[df['firstStar']=='Kenan imirzalıoğlu','firstStar']='Kenan İmirzalıoğlu'
df.loc[df['firstStar']=='Nebahat Cehre','firstStar']='Nebahat Çehre'

### Edit secondStar values

In [ ]:
#Removes spaces at the beginning and end of the string values
df["secondStar"] = df.secondStar.str.strip()

In [ ]:
#Counts the unique values and present them in descending order
df['secondStar'].value_counts().sort_index()

In [ ]:
#Edit some values that contain spelling mistakes to keep data consistent 
df.loc[df['secondStar']=='Engin Akyurek','secondStar']='Engin Akyürek'
df.loc[df['secondStar']=='Merve Bolugur','secondStar']='Merve Boluğur'
df.loc[df['secondStar']=='Türkân Şoray','secondStar']='Türkan Şoray'

### Edit thirdStar values

In [ ]:
#Removes spaces at the beginning and end of the string values
df["thirdStar"] = df.thirdStar.str.strip()

In [ ]:
#Counts the unique values and present them in descending order
df['thirdStar'].value_counts().sort_index()

In [ ]:
#Edit some values that contain spelling mistakes to keep data consistent 
df.loc[df['thirdStar']=='Engin Altan','thirdStar']='Engin Altan Düzyatan'
df.loc[df['thirdStar']=='Tarık Papuçcuoğlu','thirdStar']='Tarık Papuççuoğlu'
df.loc[df['thirdStar']=='Nur Fettahoglu','thirdStar']='Nur Fettahoğlu'
df.loc[df['thirdStar']=='Vahide Percin','thirdStar']='Vahide Perçin'

### Make names of stars consistent between the three columns

In [ ]:
#Show the unique values of stars names in descending order
stars_names = pd.concat([df['firstStar'], df['secondStar'],df['thirdStar']]).unique()
stars_names.sort()
stars_names

In [ ]:
#Edit some values that contain spelling mistakes to keep data consistent across the three columns

df.loc[(df['thirdStar']=='Alpay Atalan'),'thirdStar']='Alpay Kemal Atalan'

df.loc[df['thirdStar']=='Cemal Toktas','thirdStar'] ="Cemal Toktaş"

df.loc[(df['firstStar']=='Engin Akyurek'),'firstStar']="Engin Akyürek"

df.loc[df['thirdStar']=='Hande Subasi','thirdStar'] ="Hande Subaşı"

df.loc[df['thirdStar']=='Kadir Dogulu','thirdStar'] ="Kadir Doğulu"

df.loc[df['secondStar']=='Nebahat Cehre','secondStar'] ="Nebahat Çehre"

df.loc[(df['firstStar']=='Türkân Şoray'),'firstStar'] ="Türkan Şoray"

df.loc[df['thirdStar']=='Yasemin Allen','thirdStar'] ="Yasemin Kay Allen"

df.loc[(df['firstStar']=='Ümit Kantarcılar'),'firstStar'] = 'Ümit İbrahim Kantarcılar'

# Test The Dataset Completeness After Cleaning

In [ ]:
df.isnull().sum()

In [ ]:
df.head()

In [ ]:
df.tail()

# Exporting Dataset

In [ ]:
#Export the dataframe as CSV file
df.to_csv(r'Clean_TurkishTV_Data.csv', index = False)